.header {
  &__notification {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 32px 10px;
    text-align: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #43a1f7, #8643dc, #f743af, #f78070, #be40ff, #20bcff, #00f69e) 1 100%;
    border-image-slice: 1;
    border-width: 1px;

    &-link {
      display: inline-block;
      margin-left: 8px;
      margin-top: 2px;
    }

    &-arrow {
      margin-left: 2px;
      position: relative;
      top: 2px;
      right: 0;
    }

    &-closer {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    margin: 10px 20px 0 0;
  }

  &__link {
    width: fit-content;
  }

  &__line {
    position: relative;
    top: -8px;
    left: 2px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(267.57deg, #577cff 0%, #4cbfff 100%);
    opacity: 0.24;
  }
}
