.notification {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.013em;
  color: rgba($color: #fff, $alpha: 0.64);
}

.white-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.013em;
  text-decoration: none;
  color: #ffffff;
}
